@media (max-width: 1200px) {
	.header-rigistration-block {
		right: 0;
	}
	nav {
		width: 230px;
	}
}

@media (max-width: 992px) {
	.hide-advanced {
		display: none;
	}
	.close {
		position: absolute;
		background: url('../img/cross.png');
		width: 50px;
		height: 50px;
		top: 0;
		right: 0;
	}
	.header-contacts-toggle {
		background: url('../img/menu.png') no-repeat right;
		display: block;
		width: 100%;
		height: 50px;
	}
	.header-contacts {
		background: #fff;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 10000;
		padding-top: 50px;
	}
	.header-contacts__item {
		float: none;
		display: block;
		width: 100%;
		margin: 0;
	}
	.header-contacts__link {
		height: 70px;
		&:hover {
			background: #fff;
			color: #4a4a4a;
		}
	}
	.header-rigistration-toggle {
		color: transparent;
		background: url('../img/sign_up.png') no-repeat center;
	}
	.header-rigistration-block {
		top: 0;
		left: 0;
		position: fixed;
		margin: 0;
		padding: 100px 10px 0;
		box-shadow: 0 0 0 #000;
		border-top: none;
		width: 100%;
		height: 100%;
		background: #fff;
		z-index: 10000;
		&:after {
			border:none;
		}
	}
	input.header-rigistration-block__input {
		height: 50px;
	}
	input.header-rigistration-block__button {
		border: none;
		text-transform: uppercase;
		font-weight: 100;
		cursor: pointer;
		&:hover {
			background: #c10000;
			color: #fff;
		}
	}
	.nav-list-toggle {
		position: fixed;
		top: 110px;
		left: 0;
		height: 50px;
		width: 50px;
		z-index: 1000;
		background-color: #c10000;
		background-image: url('../img/arrow.png');
		background-repeat: no-repeat;
		background-position: center;
	}
	nav {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1000;
		background: #fff;
		padding-top: 50px;
	}
	.nav-list__item {
		margin: 0 0 -1px;
	}
	.nav-list__link {
		text-align: center;
		&:hover {
			border: none;
			padding-left: 20px;
			color: #4a4a4a;
		}
	}
	.nav-list__link-active {
		padding-left: 20px;
		border: none;
		background: #fff;
		color: inherit;
		&:hover {
			color: inherit;
		}
	}
	.main-headline {
		text-align: center;
	}
	.photo-bar {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
}