// ==================================================
// Variables
// ==================================================

// Base-variables
$base-font-family: 				Helvetica, Arial, sans-serif;
$base-font-color: 				#000;
$base-font-weight: 				600;
$base-bg: 								#fff;
$base-line-height: 				1;
$base-font-weight:				600;

// Font sizes
$text-plain: 							16px;
$text-small: 							12px;
$text-large: 							18px;
$text-line-height: 				20px;

// Headings
$h1: 											36px;
$h2: 											30px;
$h3: 											24px;
$h4: 											18px;
$h5: 											14px;
$h6: 											12px;

// Links
$link-color: 							#444;
$link-color-hover: 				#777;
$link-color-active: 			#aaa;
$link-color-visited: 			#999;

// Forms
$form-input-color:				#333;
$form-line-height:				22px;
$form-border-base:				#e4e4e4;
$form-border-active:			#ababab;
$form-border-disable:			#bfbfbf;
$form-input-disable:			#d8d8d8;
$form-placeholder:				#888;

// Tables
$table-caption: 					#ccc;
$table-font-size:					18px;